#sn-block-list { 
  position: fixed;
  right: 5px;
  float:right;
  top: 65px;
  z-index: 10;
  width: 170px;
}
.sn-block-popup{
  position: relative;
  border: 2px solid #777777;
  background-color: #000000;
  color: #FFFFFF;
}

.sn-block-heading{
 	cursor: move;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  text-align: left;
  font-weight: bold;
  background-color: #666666;
}
.sn-block-data{
 
  cursor:move;
  border-top: 1px solid ;
  margin: 0;
  padding: 0 0.2em;
  height: 500px;
  overflow-y: auto;
  overflow-x:none;
  background-color:#999999;
}

.sn-block-item-header{
  text-align: center;
  font-weight:bold;
}

.sn-block-title{
  border: 1px dashed white;
  height: 140px;
  /*    list-style: none outside none;*/
  margin: 10px;
  /*    text-align: center;*/
  cursor:move;
  overflow: hidden;
}

.sn-block-item-content{
  border: 1px dashed cyan;
  height: 140px;
  /*    list-style: none outside none;*/
  margin: 10px;
  /*    text-align: center;*/
  cursor:move;
  overflow: hidden;
  color: black;
}
div.sortable-helper{
  /*	border: 2px dashed; */
  cursor:move;
  margin:2px;
}
.placeholder{
  /*	border: 2px dotted #ff0000;*/
  min-height:20px;

}
.sn-block-drop-hover{
  background-color: green!important;
  opacity:1;
  color:white!important;
  font-weight:bold;
}

.sn-block-region{
  background-color: #C0EEAC;
  margin-bottom: 4px;
  margin-top: 4px;
  padding: 10px;
}

.sn-overlay{
    background-color: #B4D7F0;
    border-radius: 0 0 10px 10px;
    color: #000000;
    font-family: "Lucida Grande",Verdana,sans-serif;
    font-size: small;
    left: 20px;
    line-height: 20px;
    padding: 5px 10px;
    position: fixed;
    z-index: 499;
}
.sn-inline > div
{
  display:inline;
  
}
.sn-inline
{
  display:inline;
}

#sn-block-min {
    cursor: pointer;
  margin:left;
  
   
}
.sn-block-heading > span > span
{
  margin-left: 85px;
}
.sn-block-data .droppable-sortable {
  min-height:500px;
}